<div class="container">
  <div class="row">
    <div class="col-7 offset-1">
      <h2>商品詳細</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-8">
      <h4>商品名</h4>
      <label><%= @product.product_name %></label>
      <h4>価格(税抜)</h4>
      <labell><%= @product.product_price %>(円)</label>
    </div>
  </div>
</div>