<div class="container">
  <ul>
    <div class="row">
      <div class="col-9 offset-1" style="padding-left: 80px;">
        <section class="get-in-touch">
        <h2 class="heading06" data-en="Log in"></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-8 offset-3" style="padding-left: 100px;">
        <div class="contact-form row">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= render 'layouts/error_messages', model: f.object %>
              <div class="form-field col x-50">
                <%= f.email_field :email, class: "input-text js-input" %>
                <label class="label" for="email">Email</label>
              </div>
              <div class="form-field col x-50">
                <%= f.password_field :password, class: "input-text js-input",autocomplete: "new-password" %>
                <label class="label" for="password">Password</label>
              </div>
         </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8 offset-1" style="padding-left: 80px;">
        <div class="form" style="margin: 20px; padding-left: 120px;" >
         <input type="submit" class="reset flat border2" value="ログイン">
        </div>
          <% end %>
      </div>
        </section>
    </div>
  </ul>
</div>