<div class="container">
  <div class="row">
    <div class="col-7 offset-1">
      <h2>ジャンル編集</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <%= form_with model:@genre, url:admin_genre_path, local:true do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.submit "更新する" %>
      <% end %>
    </div>
  </div>
</div>