// Place all the styles related to the inquiry controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.submitbtn{
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f4196b;
  color: #fff;
  padding: 10px 50px;
  font-size: 13px;
}
.submitbtn:after{
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  width: 6px;
  height: 6px;
  margin: -4px 0 0 0;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}