<div class="container">
  <div class="row"></div>
    <ul>
      <div class="a">
          <div class="b"><img class="c" src="assets/image1.jpg"></div>
          <div class="b"><img class="c" src="assets/image2.jpg"></div>
          <div class="b"><img class="c" src="assets/image3.jpg"></div>
          <div class="b"><img class="c" src="assets/image4.jpg"></div>
      </div>
    </ul>
  <div class="row">
      <h3>最近入荷した商品達</h3>
      <ul>
      <% @products.each do |product| %>
        <div class="inline-block">
          <%= attachment_image_tag product, :image, :fill, 100, 100, format:'jpeg', fallback:'no_image.jpg' %>
          <li class="link"><%= link_to product.product_name, product_path(product.id), class: "text" %></li>
          <p><%= tax_price(product.product_price) %>円(税込)</p>
        </div>
      <% end %>
      </ul>
  </div>
</div>