<div class="container">
  <ul>
    <div class="row">
      <div class="col-7 offset-1">
        <h2>店舗一覧 <i class="fas fa-store-alt"></i></i></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-8 offset-2">
          <% @shops.each do |shop| %>
            <%= link_to(admin_shop_path(shop), class: "list-group-item list-group-item-action") do %>
              <%= shop.name %>
            <% end %>
          <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-8 offset-4">
          <%= paginate @shops, theme: 'twitter-bootstrap-4'%>
      </div>
    </div>
  </ul>
</div>